# Java (Back-end)
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Logs
*.log
*.out
*.err

# Maven (Back-end)
/car-leasing-back/target/
dependency-reduced-pom.xml
release.properties
*.releaseBackup
*.repository

# Spring Boot (Back-end)
/*.env
/*.key
/*.pem
/*.crt

# Node.js (Front-end)
/car-leasing-front/node_modules/
/.pnp
.pnp.js

# TypeScript (Front-end)
*.tsbuildinfo

# React (Front-end)
/build/
/coverage/

# IDEs and editors
/.idea/
/.vscode/
/*.iml

# OS-specific
.DS_Store
Thumbs.db

# Miscellaneous
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yml
